<nav>
    <div id="nav_title">
        <a id="nav_home" href="/"> BLOG </a>

        <form method="post" action="/category">
            <select name="title">
                <% categories.forEach(category => {%>
                    <option> <%= category.title %> </option>
                <% }); %>
            </select>

            <button> FILTRAR </button> 
        </form>
    </div>

    <div id="nav_menu_nv">
        <div class="login">
            <% if(authenticate == undefined){%>
                <button onclick="window.location.href = 'http://localhost:8080/login'"> LOGAR </button>
            <% } else {%>
                <button onclick="window.location.href = 'http://localhost:8080/admin/articles'"> ADMIN: <%= authenticate.username.toUpperCase() %> </button>
            <% }%>
        </div>
    </div>
</nav>