<nav>
    <div id="nav_title">
        <a id="nav_home" href="/"> BLOG </a>
    </div>

    <div id="nav_menu">
        <ul>
            <li> <a href="/admin/categories">  CATEGORIAS </a> </li>
            <li> <a href="/admin/articles">  ARTIGOS </a> </li>
        </ul>
    </div>
</nav>