*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: rgb(241, 241, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

nav
{
    width: 100vw;
    height: 10vh;
    background-color: rgb(85, 0, 196);
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: space-between;
}

nav ul
{
    display: flex;
    list-style: none;   
}

nav ul li a
{
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover
{
    color: rgb(196, 196, 196);
    text-decoration: none;
    padding: 5px;
}

#nav_home
{
    width: 100%;
    color: white;
    font-size: 2em;
    font-weight: bold;

    display: block;
    padding: 2.5vh 4vw;
}

.form_container
{
    width: 50vw;
    margin: 10vh auto;
    border: 1px solid rgb(177, 177, 177);
    padding-top: 20px;
    padding-bottom: 20px;
}

.form_container input
{
    width: 45vh;
    height: 3em;
    padding-left: 20px;
    display: block;
    margin: 1.5em auto;
    outline: none;
    border: 1px solid rgb(177, 177, 177);
}

.form_container h2
{
    text-align: center;
    color: rgb(0, 0, 0);
}

.form_container hr
{
    width: 100%;
    margin-top: 1em;
    color: rgb(177, 177, 177);
}
.btn_success
{
    width: 20em;
    height: 3em;
    background-color: rgb(38, 148, 47);
    border: none;
    color: white;
    display: block;
    margin: 0 auto;
    font-weight: bold;
}

.btn_success:hover
{
    background-color: rgb(2, 90, 14);
    width: 25em;
    transition: .3s;
}

#container
{
    margin: 5em 0;
}

#container table
{
    background-color: rgb(240, 240, 240);  
    margin: 0 auto;
    width: 60vw;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 1px 1px 1px 1px rgba(119, 119, 119, 0.356);
}

#container table th
{
    border: 1px solid rgb(126, 126, 126);

    padding: 5px;
}

#container table .header_categories
{
    background-color: rgb(53, 0, 138);
    color: white;
}

#container table .header_categories th
{
    border: 1px solid rgb(35, 0, 92);
    border-bottom: rgb(126, 126, 126);
    color: white;
}

#container table td
{
    text-align: center;
}

#title
{
    margin: 2em auto;
}

#title h2
{
    text-align: center;
}

#new_categorie
{
    width: 20em;
    height: 3.5em;
    display: block;
    margin: 2em auto;
    background-color: rgb(38, 148, 47);
    border: none;
    outline: none;
    color: white;
}

#new_categorie:hover
{
    background-color: rgb(2, 90, 14);
    width: 25em;
    transition: .3s;
}

#categories_container a
{
    text-decoration: none;
}

.edit_delet
{
    width: 7em;
    height: 2.5em;
    color: white;
}

#edit
{
    background-color: rgb(228, 151, 7);
    border: none;
    outline: none;
}

#edit:hover
{
    background-color: rgb(184, 121, 6);    
}

#delet
{
    background-color: rgb(185, 51, 51);
    border: none;
    outline: none;
}

#delet:hover
{
    background-color: rgb(151, 44, 44);    
} 

#article_new_btn
{
    margin-top: 20px;
}

#articleform_container
{
    width: 50vw;
}

#category_label
{
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
}

#category_select
{
    display: block;
    margin: 1em auto;
    height: 3em;
    padding: 10px;
}

.card
{
    width: 50vw;
    margin: 2em auto;
    background-color: rgba(238, 238, 238, 0.781);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.233);
}

.card .title_card
{
    background-color: rgb(53, 0, 138);
    color: white;
    padding: 0.75em;
    text-align: center;
}

.card .body_card
{
    padding: 0.75em;
}

.card .body_card button
{
    width: 14em;
    height: 3em;
    display: block;
    margin: 0 auto;
    background-color: rgb(38, 148, 47);
    border: none;
    color: white;
}

.card .body_card button:hover
{
    background-color: rgb(2, 90, 14);
    width: 20em;
    transition: .3s;
}

a
{
    text-decoration: none;
}

#articleupdate_formcontainer button
{
    margin-top: 2em;
}

#pag
{
    width: 50vw;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
}

#form_register form
{
    background-color: rgb(241, 241, 241);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.541);
    width: 20vw;
    display: flex;
    flex-direction: column;
    margin: 15vh auto;
}

#form_register form input, label
{
    margin: 0 auto;
}

#form_register form label
{
    margin-top: 1em;
    text-align: center;
}

#form_register form input
{
    margin-top: 0.25em;
    width: 16em;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 10px;
    height: 2em;
}

#title_rg
{
    width: 100%;
    height: 4em;
    background-color: rgb(53, 0, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#form_register button
{
    width: 80%;
    height: 3em;
    margin: 2em auto;
    background-color: rgb(38, 148, 47);
    border: none;
    color: white;
}

#form_register button:hover
{
    width: 90%;
    background-color: rgb(2, 90, 14);
    transition: .3s;
}

#nav_title
{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav_menu
{
    width: 60%;
    height: 100%; 
}

.registro button
{
    width: 12.5vw;
    height: 3em;
    background-color: rgb(38, 148, 47);
    border: none;
    color: white;
}

.registro button:hover
{
    background-color: rgb(2, 90, 14);
    transition: .3s;
}

.registro
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

#reg
{
    margin-right: 5em;
    margin-left: 1em;
}

#nav_title form 
{
    display: flex;
}

#nav_title form select
{
    margin-right: 1em;
    width: 15em;
    height: 3em;
    text-align: center;
}

#nav_title button
{
    width: 15vw;
    background-color: rgb(38, 148, 47);
    border: none;
    color: white;
}

#nav_title button:hover
{
    background-color: rgb(2, 90, 14);
    transition: .3s;
}

#nav_menu_nv .login
{
    height: 100%;
}

#nav_menu_nv .login button
{
    height: 3em;
    width: 15vw;
    background-color: rgb(38, 148, 47);
    border: none;
    color: white;
    position: relative;
    right: 5em;
}

#nav_menu_nv .login button:hover
{
    background-color: rgb(2, 90, 14);
    transition: .3s;
}